node_modules/
dist/
build/
_build/
build2/
*.exe
*.dll
*.zip
.godot/
.import
.vscode/extensions.json
*.output
assets/Skybox/
assets/models/character/character.fbx
# Unity project files
Library/
Temp/
Logs/
UserSettings/
Packages/
ProjectSettings/
*.asset
*.unity
*.meta
